In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [5]:
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
df.time.value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

#### Normal groupby

In [9]:
df.groupby('time')['total_bill'].mean()

/tmp/ipykernel_6656/1690409114.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('time')['total_bill'].mean()

time
Lunch     17.168676
Dinner    20.797159
Name: total_bill, dtype: float64

#### To frame

In [10]:
df.groupby('time')['total_bill'].mean().to_frame('avg_bill')

/tmp/ipykernel_6656/1771128690.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('time')['total_bill'].mean().to_frame('avg_bill')

         avg_bill
time
Lunch   17.168676
Dinner  20.797159

In [11]:
df.groupby('time')['total_bill'].mean().to_frame('avg_bill').reset_index()

/tmp/ipykernel_6656/3736943209.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('time')['total_bill'].mean().to_frame('avg_bill').reset_index()

     time   avg_bill
0   Lunch  17.168676
1  Dinner  20.797159

In [13]:
df.groupby('time')['total_bill'].mean().to_frame('avg_bill').reset_index().sort_values('avg_bill',ascending=False)

/tmp/ipykernel_6656/1831165781.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('time')['total_bill'].mean().to_frame('avg_bill').reset_index().sort_values('avg_bill',ascending=False)

     time   avg_bill
1  Dinner  20.797159
0   Lunch  17.168676